Source: com.github.raibtoffoletto.adstruo
Section: x11
Priority: optional
Maintainer: Raí B. Toffoletto <rai@raibtoffolett.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgtk-3-dev,
               meson,
               gobject-introspection,
               libgranite-dev,
               libsoup2.4-dev,
               libjson-glib-dev,
               libwingpanel-2.0-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.40.0)
Standards-Version: 0.1.2

Package: com.github.raibtoffoletto.adstruo
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Additional indicators for Elementary's Wingpanel
 Adstruo aims to provide some additional indicators to ElementaryOS's Wingpanel, thus, extending its functionality and providing extra information at a quick glance.
